<ion-header>
  <ion-toolbar>
    <ion-title>
      Script Actualización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-button color="primary" (click)="crearCopia()" disabled="true">Crear Respaldo meditions</ion-button>
  <br>
  <ion-button color="primary" (click)="crearCopiaUser()" disabled="true">Crear Respaldo Users</ion-button>
  <br>
  <ion-button color="success" (click)="proceso()">Actualiza Meditions</ion-button>
  <a href="#" id="link" download="contenido.txt" hidden>Descargar</a>
</ion-content>
